/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 */

/* 
tr.border_bottom td {
  border-bottom: 1px solid black;
}
 */
#cb_pdp_body{
	background-color: #444444;
}	
.cb-pdp-main-box
{
	background-color: rbha( 0,0,0,0);
	max-width: 100%;
	align-content: center;

}
.pdp-inner-box
{
	background-color: #555555;
	opacity: 0.95;
	max-width: 80%;
	align-content: center;
	border: 25px solid black;
}
.pdp-inner-box a:link {
	color: #1e90ff;
}
.pdp-inner-box a:visited {
	color: #00008b;
}

.fl_style1 {	font-size: 18px;
	font-weight: bold;
}
.pdp-small-text{
	
	background-color: #001E5B;
	color: #FFFF66;
	font-size: 16px;
}
.edit{
	display: none;
}
.view{
	display: inline;
}
.editing .edit {
	display: inline;
}
.editing .view {
	display: none;
}
.BoldMetrics
{
	font-weight: bold;
	font-size: 14px;
	color: #F3F3F3;
	text-align: center;
	background-color: "#5B444F"
}
tr{
 white-space: nowrap
}
.button-flightlog{
	color:white !important;
	font-size: 20px;
	width:25px;
	height:25px;
}
.button-start{
	background-color:green !important; 
	border-radius: 50%;
}
.button-stop{
	background-color:red !important;
	border-radius: 25%;
}
.button-start.clicked{
	background-color:red !important; 
	border-radius: 50%;
}
.button-stop.clicked{
	background-color:green !important; 
	border-radius: 50%;
}

.fl_style1 
{
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}

.fl_style3 {font-size: 16px; font-weight: bold; }
.fl_style16 {color: #CCCCCC; }
.fl_style24 {color: #000000}
.fl_style25 {font-size: 18px; font-weight: bold; color: #000000; }
.fl_style27 {font-size: 18px; font-weight: bold; color: #000000; }

.fl_style29 {
	color: #7DFF7D;
	font-weight: bold;
	font-fl_style: italic;
	font-size: 16px;
}
.fl_style30 {
	color: #FFFFFF;
	font-weight: bold;
	font-fl_style: italic;
}
.fl_style34 
{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-style: italic;
	text-align: center;
	background-color: white;
}
.fl_style34hd 
{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	font-style: italic;
	text-align: center;
	background-color: #66ccff;
}

.fl_style35 
{
	color: #F7F7F9;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.fl_style37 
{
	color: #FFFFFF;
	font-size: 12px;
}
.fl_style39 
{
	color: #DBDDE6;
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}
.fl_style41 
{
	color: #DBDDE6;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}
.fl_style43 
{color: #DBDDE6; font-style: italic; }
.fl_style44 
{color: #C2C7E2; font-weight: bold; }
.fl_style45 
{
	color: #6666FF;
	font-size: 14px;
}
.popup-overlay {
  visibility:hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);  background: #ffffff;
  border: 3px solid #666666;
  width: 50%;
  height: 50%;
  left: 25%;
  height:"350px"; 
  overflow-y:auto;
  overflow-x:auto
}

.popup-content {
	visibility:hidden;
	padding: "3px";
	position: absolute;
	float: left;
  	left: 2px;
  	width :95%
} 
.popup-content li {
    white-space: normal;
    float: left;
    width: 95%;
    height: auto;
	word-wrap: break-word;
}
.popup-overlay.active{
visibility:visible;
}

.popup-content.active {
visibility:visible;
}
optgroup.nofly{
	background-color: #000000;
	color: #ffffff;
}
.viewstop{
	display: none;
}
.viewstart{
	display: inline;
}
.inflight .viewstart {
	display: none;
}
.inflight .viewstop {
	display: inline;
}
.landed .viewstart  {
	display: none;
}
.landed .viewstop  {
	display: none;
}
.landed .time  {
	display: inline;
}
.time{
	display: none;
}
textarea { vertical-align: top; }
form {
  margin: 0 auto;
}
#addFlight{
  width: 50%;
  margin: 0 auto;
}

.container {
    width:100%;
    margin:2 auto;
}

.form-row {
    line-height:18pt;
    border: solid 1px black;
}

.form-row:nth-child(odd) {
    background: #e0e0e0;
}
.form-row:nth-child(even) {
    background: #fefefe;
}

h3 {
    line-height:36pt;
    font-weight:bold;
    color:blue;
}
.flight_list{
	display: inline;
}
.flight_list .editing{
	display: none;
}
.Heading .editing{
	display: none;
}
.Title .editing{
	display: none;
	align-content: center;
}
#flight_button    {
    width: 100px;
    background: red;
    float: left;
}
#editDate  {
    width: 900px;
    float: center;
}
.Row .editing{
	display: none;
}
#eflights{
	background-color: #444444;
	align-content: center;
}
.Row{
	background-color: #eeeeee;
}
.Heading{
	background-color: #999999;
	align-content: center;
}
H3{
	background-color: #999999;
}
.fl_Cell0
{
  	background-color: gray; 
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 10%;
}
.fl_Cell0a
{ 
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 10%;
}
.fl_Cell
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
}
.fl_Cell1
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.fl_Cell2
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.fl_Cell3
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
}
.div-left{
    float:left;
    padding-left:10px;
}
.div-right{
    float:right;
    padding-right:10px;
}
table.logbook, th.logbook, td.logbook{
  border: 1px solid black;
   border-collapse: collapse;
   background-color: #cccccc;
/*   border-radius: 10px; */
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../views/Broken circle.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}